.root.hidden {
  opacity:0;
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}

@keyframes slideIn {
  0%   { transform: scale(1, 0); transform-origin:bottom bottom; }
  100% { transform: scale(1, 1); transform-origin:bottom bottom; }
}

.root.animationStart  {
  animation: fadeIn 0s forwards 0s;
  filter: drop-shadow( 0 0 2px rgba(0, 0, 0, .2));
}

.root.animationStart g rect {
  animation: slideIn .75s ease-out;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.20);
}

.root.animationStart g rect:nth-child(2) {
  animation: slideIn .85s ease-out;
}
.root.animationStart g rect:nth-child(3) {
  animation: slideIn .95s ease-out;
}
.root.animationStart g rect:nth-child(4) {
  animation: slideIn 1.05s ease-out;
}
.root.animationStart g rect:nth-child(5) {
  animation: slideIn 1.15s ease-out;
}
.root.animationStart g rect:nth-child(6) {
  animation: slideIn 1.25s ease-out;
}
.root.animationStart g rect:nth-child(7) {
  animation: slideIn 1.35s ease-out;
}
.root.animationStart g rect:nth-child(8) {
  animation: slideIn 1.45s ease-out;
}
.root.animationStart g rect:nth-child(9) {
  animation: slideIn 1.15s ease-out;
}
.root.animationStart g rect:nth-child(10) {
  animation: slideIn 1.25s ease-out;
}
.root.animationStart g rect:nth-child(11) {
  animation: slideIn 1.35s ease-out;
}
.root.animationStart g rect:nth-child(12) {
  animation: slideIn 1.45s ease-out;
}
