@import '../variables';

.root {
  width: 100%;
  height: 100%;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;

  .chart {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // margin: 0.1rem 0;
    background-color: $main-card-bg;

    &.large {
      display: block;
      width: 100%;
      max-width: 100rem;
        // height: 70rem;
        height: 57rem;
        // min-width: 70rem;
        min-width: inherit;
        max-width: 100rem;
        // height: 100%;
        // width: 100%;

        @media screen and (max-width: $breakpoint-medium) {
          height: auto;
        }

        @media screen and (max-width: $breakpoint-small) {
          min-width: inherit;
          margin-top: 2rem;
          // height: 45rem;
        }
      }
    }

    &.small,
    &.medium {
      display: flex;
      align-items: center;
      > div {
      justify-content: center;
    }

    &.medium {
      > div {
        width: 48rem;
        // height: 56.6rem;
        height: 46.6rem;
      }
    }

    &.small {
      > div {
        width: 28rem;
        height: 34rem;
      }
    }
  }
}
