@import '../variables';

.root {
  font-size: 1.4rem;
  color: $white;
  display: flex;
  align-items: center;
  margin: 2rem 0;

  .box {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 2rem;
  }
}

html[dir="rtl"] {
  .root {
    .box {
      margin-left: 2rem;
      margin-right: 0;
    }
  }
}