@import '../variables.scss';

.logo {
  font-family: 'Rubik', serif !important;
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none !important;
  border-bottom: none !important;

  &:focus {
    // The logo gets automatic screen-reader focus on every page load
    outline: none;
  }
  
  span {
    transition: color 0.3s ease-out;
  }

  span:first-child {
    color: #3070CF;
  }
  
  span:nth-child(2) {
    color: #194CAE;
  }
  
  span:last-child {
    color: #11367E;
  }
}