@import '../../opportunity-standard-variables.scss';

.radioSelect {
  width: 70%;
  div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  label {
    font-size: $controls-font-size;
    color: $scale-default-3;
  }

  .option {
    margin: 0;
    padding: 0.4rem 1.5rem;
    width: fit-content;
    background: white;
    
    &:first-child {
      padding-top: 0.8rem;
    }
    &:last-child {
      padding-bottom: 0.8rem;
    }

    label {
      margin: 0 0 0 1rem !important; // Overriding form label styles
      cursor: pointer;
      font-weight: bold;
      font-size: $controls-font-size;
      transition: all .3s;
    }
    
    &.active {
      label {
        color: blue !important;
      }
    }
  }

  &.inline {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .option {
      display: inline-flex;
      padding: 1.3rem 1rem;
      flex: 1;
      margin: 0 0.5rem;
      border-radius: 5px;
      cursor: pointer;

      label {
        margin-left: 0.8rem !important;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &.dark {
    label {
      color: white;
    }

    .option {
      background: $scale-default-4;
    
      &.active label {
        color: $blue-light-2 !important;
      }
    }

    input[type="radio"], input[type="checkbox"] {
      border-color: white;
      color: white;

      &:checked {
        border-color: $blue-light-2 !important;

        &::before {
          background-color: $blue-light-2 !important;
        }
      }
    }
  }
}