$scale-default-0: #03142C;
$scale-default-1: #031837;
$scale-default-2: #071F42;
$scale-default-3: #0C264D;
$scale-default-4: #122F5A;
$scale-default-5: #003C7A;

$scale-light-0: white;
$scale-light-1: #FAFDFF;
$scale-light-2: #F0F6FA;
$scale-light-3: #E3F1FD;
$scale-light-4: #C9E7FC;
$scale-light-5: #B8E0FC;

$green-light-2: #A8DD7C;
$green-light-3: #DFEED2;

$red-light-2: #FC9CAC;

$blue-light-1: #568ADF;
$blue-light-2: #53B3FC;

$scale-light-5: #B8E0FC;

$white: #FEFEFE;

$unmatched-1: #081836; // Background of common metric selection banner
$unmatched-2: #11244A; // Background of common metric cards
$unmatched-3: #0c1834; // Gap between common metric cards

$controls-font-size: 17px;

$wdp-alt-bg: #071F42;
$wdp-main-bg: #031837;

$yellow: #FFBE17;

$breakpoint-tablet: 999px;
$breakpoint-mobile: 674px;